.navbar__wrapper {
  margin-bottom: 1.5em;
}

.navbar__brand img {
  vertical-align: middle;
  height: 40px;
}

.navbar__app-title {
  margin-left: 2em;
  user-select: none;
}

.navbar__spacer {
  flex: 1 1 auto;
}
