$mat-api-green: (
  50 : #eff5e8,
    100 : #d8e5c5,
    200 : #bed49e,
    300 : #a3c277,
    400 : #90b559,
    500 : #7ca83c,
    600 : #74a036,
    700 : #69972e,
    800 : #5f8d27,
    900 : #4c7d1a,
    A100 : #d9ffb6,
    A200 : #beff83,
    A400 : #a4ff50,
    A700 : #97ff36,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-api-purple: (
  50 : #f9eaf2,
  100 : #efccde,
  200 : #e4aac8,
  300 : #d987b1,
  400 : #d16ea1,
  500 : #c95490,
  600 : #c34d88,
  700 : #bc437d,
  800 : #b53a73,
  900 : #a92961,
  A100 : #ffeaf2,
  A200 : #ffb7d5,
  A400 : #ff84b7,
  A700 : #ff6aa8,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
